@charset "utf-8";
/* CSS Document */

body{
	background: url("images/flag3.jpg") no-repeat;
	background-repeat: no-repeat;
    background-size: cover;
	
}
main{
	width:900px;
	margin:0
	
		
}
header{
	height:100px;
	color:hotpink;
	
	
}
header h1{
	font-size: 70px;
	font-family: jaf-herb, serif;
    font-weight: 400;
    font-style: normal;
	text-align: center;
	color:darkred;
	background-color:dodgerblue;
}
nav{
	width:100%;
	text-align: center;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 5px;
	
	
}

nav li{
	display:inline;
	
	
	
}

.right{
	width: 200px;
	float: right;
	align-content: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-right: 450px;
}
.clearfix {
  overflow: auto;
}
.left1{
	width: 300px; 
	float:left;
	margin-top:30px;
	padding-bottom: 30px;
	padding-left: 100px;
	font-family: gautreaux, sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 30px;
	color:darkslategrey;
	
}
.left{
	float:left;
    padding-top: 30px;
	padding-left: 100px;
	width: 300px; 
	clear: left;
	font-family: gautreaux, sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 30px;
	color: black;
}

footer{
	font-size: 30px;
	text-align: center;
	clear: both;
	font-family: gautreaux, sans-serif;
    font-weight: 700;
    font-style: normal;
	
}